* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: rosybrown;
  color: black;
}
.title {
  margin-left: 27px;
}
.card {
  width: 336px;
  height: 192px;
  border-radius: 10px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
